<%- include("includes/header.ejs") %>
<body>
    <p>user : <%= post.name %></p>
    <p>id : <%= post.id %></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <br>content : <br>
        <textarea name="content" id="" cols="30" rows="6"><%= post.content %></textarea>
        <button>Update</button>
    </form>
</body>
</html>